/* CSS stylesheet */
#header-img {
    margin-left: 5px;
    margin-top: 5px;
    width: 300px;
    padding: 5px; 
  }
  
  ol {
    list-style-type: none;
    padding-left: 0;
    
  }
  
  .nav-link {
    display: inline-block;
    padding-right: 5px;
    position: center; 
    
  }
  
  #realtor-pic {
    margin-right: auto;
    display: block;
    width: 300px;
  }
  
  fig-caption {
    display: block;
  }
  li {
    list-style: none;
  }
  
  header {
   position: fixed;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-between;
    padding: 15px;
    background-color: yellow;
    top: 0px;
    align-items: center;
    height: 75px;
    justify-content: space-around;
    
  }
  nav li {
    display: flex;
    flex-direction: column;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  @media (max-width: 600px){
    header {
      flex-wrap: wrap;
    }
  }